<ul>
    <img src="https://cdn.dribbble.com/users/2554017/screenshots/7053512/media/08075323b220178eebed60256325922a.png?compress=1&resize=400x300" width="75" 
    height="50"id="logo" />
    <li><a href="/create">Create</a></li>
    
    <li><a href="/help/list">List</a></li>

  
    <li style="float:right"><a href="/help">Help</a></li>
    <li style="float:right"><a href="/about">About</a></li>
  </ul>