<!DOCTYPE html>
<html>
  <div class="Search-bar">
    <form action="action_page.php">
      <input type="text" placeholder="Find a Blog Here.." name="search" >
      <button type="submit">Search</button>
    </form>
  </div>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% include partials/nav.ejs %>

    <h2><%= title %></h2>
    <label>Welcome to <%= title %>. This program will show us how to create, modify and delete blog posts. </label>
  </body>
  <footer>
    <% include partials/foot.ejs %>
  </footer>
</html>